h1 {
    position: relative;
    background-image: url(../images/top-view-honey-spoon-with-honeycomb-pieces-original.jpg);
    background-size: cover;
    background-position: center;
    padding: clamp(10%, 25vh, 225px) 0 clamp(10%, 25vh, 225px) 10%;
    text-align: left;
    color: var(--color-jaune-principal);
    z-index: 1;
}

h1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.60);
    /* Couche semi-transparente noire */
    z-index: -1;
}

.presentation,
.services {
    display: flex;
    flex-direction: row;
    width: min(1000px, 90vw);
    align-items: center;
    gap: 25px;
    margin: auto;
    padding: 80px 0;
}

.bloc-presentation {
    background-color: var(--color-blanc-fond-2);
}

.photo-presentation,
.photo-services {
    width: 425px;
    aspect-ratio: 1/1;
}

.texte-presentation,
.texte-services {
    display: flex;
    height: 425px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.biodiversite {
    justify-content: space-evenly;
}

.texte-presentation p {
    width: 90%;
}

.texte-presentation .accroche {
    text-align: center;
    font-weight: 700;
}

ul {
    margin-top: 20px;
    font-size: var(--font-size-paragraphe);
}

@media screen and (min-width:1001px) {

    .engagement h2,
    .engagement .cta {
        margin-top: 0px;
    }

}

@media screen and (max-width: 1000px) {
    h1 {
        padding-left: 0;
        text-align: center;
    }

    .presentation {
        flex-direction: column;
    }

    .presentation-biodiversite {
        flex-direction: column-reverse;
    }

    .texte-presentation {
        align-items: center;
        height: fit-content;
    }

    .photo-services {
        display: none;
    }

    .tableau-prix {
        display: none;
    }
}