h1 {
    position: relative;
    background-image: url(../images/tasty-honeycomb-piece-bee-pollens-black-backdrop-original.jpg);
    background-size: cover;
    background-position: center;
    padding: clamp(10%, 25vh, 225px) 0 clamp(10%, 25vh, 225px) 10%;
    text-align: left;
    color: var(--color-jaune-principal);
    z-index: 1;
}

h1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.50);
    /* Couche semi-transparente noire */
    z-index: -1;
}

.presentation {
    display: flex;
    flex-direction: row;
    width: min(1000px, 90vw);
    align-items: center;
    gap: 25px;
    margin: auto;
    padding: 80px 0;
}

.photo-presentation {
    width: 425px;
    aspect-ratio: 1/1;
}

.texte-presentation {
    display: flex;
    height: 425px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.texte-presentation p {
    width: 90%;
}

.illustration-presentation {
    width: 200px;
    display: flex;
    flex-direction: row;
}

.section-sondage {
    background-color: var(--color-blanc-fond-2);
}

.texte-presentation-sondage {
    display: flex;
    height: 425px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

form {
    background-image: url(../images/silhouette-pot-miel.png);
    display: flex;
    flex-direction: column;
    width: min(375px, 90vw);
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: end;
    align-items: center;
    font-size: 1.5rem;
}

form p {
    font-weight: bold;
    padding: 20px;
}

form input,
form label {
    cursor: pointer;
}

form .cta {
    background: var(--color-blanc-fond-2);
    color: var(--color-texte-fonce);
    border: none;
    font-size: var(--font-size-paragraphe);
    font-family: var(--font-family-principal);
}

@supports (background: linear-gradient(var(--color-blanc-fond-2), #FFEFBA)) {
    form .cta {
        background: linear-gradient(var(--color-blanc-fond-2), #FFEFBA);
    }
}

.sondage {
    text-align: center;
    width: min(375px, 90vw);
    margin: auto;
}

.sondage span {
    color: var(--color-texte-erreur);
    font-weight: 900;
}

.sondage-image {
    display: flex;
    width: min(100px, 30vw);
    margin: auto;
    padding-bottom: 30px;
}

.sondage-remerciement {
    background-color: var(--color-jaune-principal);
    text-align: center;
    width: min(375px, 90vw);
    border-radius: 30px;
    padding: 20px 10px;
}

.sondage-remerciement p {
    text-align: center;
}

.accueil-photos {
    margin: auto;
    width: 100%;
    padding: 30px 80px 80px;
}

img {
    max-width: 100%;
    /*ajuste l'image pour qu'elle reste dans son conteneur*/
}

.accueil-photos .rang-photo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: min(30px, 5vw);
    justify-content: center;
    margin: 30px auto;
    max-width: 90%;
    overflow: hidden;
}

.accueil-photos a {
    position: relative;
    margin: 30px, auto;
    width: min(90%, 350px);
}

.accueil-photos img {
    aspect-ratio: 1/1;
    /*permet d'adapter la taille des images à celle de l'écran en gardant ici une hauteur égale à la largeur*/
    object-fit: cover;
    max-height: 350px;
}

.photo-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-titre-h2);
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.accueil-photos a:hover .photo-hover {
    display: flex;
}

.accueil-photos p {
    display: flex;
    justify-content: center;
    padding: 50px 0 30px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.accueil-photos .cta {
    width: fit-content;
}

.engagements {
    padding-top: 30px;
    background-color: var(--color-blanc-fond-2);
}

.pastilles-engagements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px 10px;
    align-items: center;
    margin: auto;
    padding: 50px 10% 80px;
}

.pastille {
    display: flex;
    flex-direction: column;
    background-color: var(--color-jaune-principal);
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 50px 50px;
    width: 300px;
    height: 250px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.pastille .icone {
    width: 64px;
    fill: var(--color-blanc-fond-2);
}

.pastille p {
    text-align: center;
    width: 75%;
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--color-blanc-fond-2);
    padding-bottom: 5px;
}

form .cta:hover {
    background: #f9cc5c;
}

@supports (background: linear-gradient(var(--color-blanc-fond-2), #FFEFBA)) {
    form .cta:hover {
        background: linear-gradient(var(--color-blanc-fond-2), #f9cc5c);
    }
}

@media screen and (max-width: 1000px) {
    h1 {
        padding-left: 0;
        text-align: center;
    }

    .presentation {
        flex-direction: column;
    }

    .presentation-intro {
        flex-direction: column-reverse;
    }

    .texte-presentation {
        align-items: center;
        height: fit-content;
    }

    .illustration-presentation {
        display: none;
    }

    .texte-presentation-sondage {
        height: fit-content;
    }

    .accueil-photos {
        padding: 20px;
    }

    .accueil-photos .rang-photo {
        flex-direction: column;
        max-width: 100%;
        align-items: center;
    }

    .pastille p {
        font-size: var(--font-size-paragraphe-grand);
    }
}