h1 {
    position: relative;
    background-image: url(../images/honey-jars-with-bee-smoker-honeycomb-original.jpg);
    background-size: cover;
    background-position: bottom;
    padding: clamp(10%, 25vh, 225px) 0 clamp(10%, 25vh, 225px) 10%;
    text-align: left;
    color: var(--color-jaune-principal);
    z-index: 1;
}

h1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.60);
    /* Couche semi-transparente noire */
    z-index: -1;
}

.magasin {
    padding-bottom: 30px;
}

.produits-magasin {
    padding: 60px 0;
    width: min(800px, 90vw);
    margin: auto;
}

.presentation-produit {
    display: flex;
    flex-direction: row;
    width: min(800px, 90vw);
    justify-content: space-between;
    padding: 50px 0;
    margin: auto;
    gap: 30px;
}

.description-produit {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h3 {
    padding: 0 0 10px;
}

.description-produit p {
    max-width: 90%;
    background-color: var(--color-blanc-fond-2);
    padding: 15px;
    font-size: 1.1rem;
    box-shadow: 5px 5px 10px #D0AD58;
}

hr {
    background: var(--color-texte-fonce);
    width: 15vw;
    height: 5px;
    margin-top: 30px;
    display: none;
}

.photo-produit {
    max-width: 200px;
    height: 200px;
}

.photo-wrapper {
    position: relative;
    max-width: 200px;
    height: 200px;
    box-shadow: 15px 15px 0 var(--color-jaune-principal);
    transition: box-shadow 500ms linear;
}

.photo-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.photo-wrapper:hover {
    box-shadow: 25px 25px 0 var(--color-jaune-principal);
}

.photo-wrapper:hover .photo-hover {
    display: flex;
    z-index: 5;
}

.intro-cta-services {
    width: min(800px, 90vw);
    text-align: center;
    margin: auto;
}

.tableau-prix {
    width: 100vw;
    margin: auto;
    justify-content: center;
    padding: 30px 0 60px;
    background-color: var(--color-blanc-fond-2);
}

.h2-tarifs {
    padding-bottom: 50px;
}

table {
    width: clamp(340px, 50vw, 600px);
    font-size: var(--font-size-paragraphe);
    color: var(--color-texte-fonce);
    text-align: center;
    vertical-align: center;
    border-collapse: collapse;
    margin: auto;
}

td {
    border: 1px solid var(--color-texte-fonce);
    padding: 40px;
    background-color: #fbdb8b;
}

th {
    border: 1px solid var(--color-texte-fonce);
    background-color: var(--color-jaune-principal);
    padding: 20px 10px;
}

.angle-tableau {
    border-top: var(--color-blanc-fond-2);
    border-left: var(--color-blanc-fond-2);
    background-color: var(--color-blanc-fond-2);
}

.cellule-vide {
    background-color: var(--color-jaune-fond-clair);
}

@media screen and (max-width: 1000px) {
    h1 {
        text-align: center;
    }

    .presentation-produit {
        flex-direction: column;
    }

    hr {
        display: flex;
    }

    .photo-wrapper {
        margin: auto;
    }

    td,
    th {
        padding: 5px 1px;
    }
}