html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --color-jaune-principal: #f7af1e;
    --color-jaune-fond-clair: #fafadc;
    --color-blanc-fond-2: white;
    --color-texte-fonce: #121d26;
    --color-texte-erreur: #2295a9;
    --font-family-principal: "Dosis", sans-serif;
    --font-family-titre: "Varela Round", sans-serif;
    --font-size-paragraphe: 1.3rem;
    --font-size-paragraphe-grand: 1.6rem;
    --font-size-titre-h1: 3.5rem;
    --font-size-titre-h2: 2.2rem;
}

.logo {
    width: 175px;
    height: auto;
}

body {
    font-family: var(--font-family-principal);
    font-size: var(--font-size-paragraphe);
    background-color: var(--color-jaune-fond-clair);
    color: var(--color-texte-fonce);
}

a {
    text-decoration: none;
    color: var(--color-texte-fonce);
}

a:hover {
    text-decoration: underline;
}

strong {
    color: var(--color-jaune-principal);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
    font-weight: 600;
}

.bandeau {
    text-align: center;
    background-color: var(--color-jaune-principal);
    padding: 1em;
}

h1 {
    font-family: var(--font-family-titre);
    font-size: var(--font-size-titre-h1);
    color: var(--color-jaune-principal);
    padding-top: 50px;
}

h2 {
    text-align: center;
    color: var(--color-jaune-principal);
    font-size: var(--font-size-titre-h2);
    margin-top: 20px;
}

p {
    font-size: var(--font-size-paragraphe);
    text-align: justify;
    color: var(--color-texte-fonce);
}

img {
    max-width: 100%;
}

header,
footer {
    background-color: var(--color-blanc-fond-2);
    padding: 10px 50px;
}

header img:hover,
footer img:hover {
    opacity: 0.5;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}

footer abbr img {
    height: 32px;
    width: auto;
}

.cta {
    display: block;
    text-align: center;
    background: var(--color-jaune-principal);
    /* color: #224e55; */
    color: var(--color-texte-fonce);
    font-weight: 700;
    border-radius: 50px;
    padding: 20px 30px;
    width: fit-content;
    margin: 30px auto;
    box-shadow: 1px 1px 2px grey;
}

@supports (background: linear-gradient(#fbcb1c, var(--color-jaune-principal))) {
    .cta {
        background: linear-gradient(#fbcb1c, var(--color-jaune-principal));
    }
}

.section-contact {
    position: relative;
    background-image: url(../images/closeup-female-halictus-scabiosae-collecting-pollen-from-yellow-flower-original.jpg);
    background-size: cover;
    background-position: center;
    padding: clamp(10%, 25vh, 150px) 0;
    text-align: center;
    color: var(--color-jaune-principal);
    z-index: 1;
}

.section-contact h2 {
    padding-bottom: 50px;
}

.section-contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.50);
    /* Couche semi-transparente noire */
    z-index: -1;
}

.cta:hover {
    background: #f36f17;
    text-decoration: none;
}

@supports (background: linear-gradient(#F9D423, #f36f17)) {
    .cta:hover {
        background: linear-gradient(#F9D423, #f36f17);
    }
}

.lien-icone:hover {
    opacity: 0.5;
}

@media screen and (max-width: 1000px) {

    h1,
    h2 {
        font-size: 2em;
        text-align: center;
    }

    nav {
        flex-direction: column;
        text-align: center;
    }

    footer abbr img {
        height: 24px;
    }

    footer div {
        gap: 10px;
    }
}



@media print {

    .menu,
    footer {
        display: none;
    }
}